<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link rel="stylesheet" href="../assets/css/animate.min.css">
    <link rel="stylesheet" href="../styles/style.css">
    <link rel="stylesheet" href="../styles/navigation.css">
    <link rel="stylesheet" href="../styles/about.css">
    <script src="../js/dark.js" defer></script>
    <title>About me</title>
</head>

<body>
    <header>
        <nav>
            <div class="logo">
                <span class="logo-text">Stay curious</span>
            </div>
            <ul class="nav-links active">
                <li>
                    <i class="fas fa-house disable-icons"></i>
                    <a href="../index.html">Home</a>
                </li>
                <li>
                    <i class="fas fa-user disable-icons"></i>
                    <a href="about.html" class="active">About</a>
                </li>
                <li>
                    <i class="fas fa-road disable-icons"></i>
                    <a href="trajectory.html">Trajectory</a>
                </li>
                <li>
                    <i class="fas fa-graduation-cap disable-icons"></i>
                    <a href="courses.html">Courses</a>
                </li>
                <li>
                    <i class="fas fa-briefcase disable-icons"></i>
                    <a href="projects.html">Projects</a>
                </li>
            </ul>
            <div class="menu-icon" id="menu-icon">
                <i class="fas fa-bars"></i>
            </div>
            <i class="fa-regular fa-moon icons dark-mode-toggle"></i>
        </nav>
    </header>
    <main>
        <section class="section-title">
            <h1>About Me</h1>
            <p class="section-abstract">Get to know a little more about me.</p>
        </section>
        <section class="about-info">
            <div class="info-content">
                <h2 class="about-info-title">Hello, I'm Beni</h2>
                <p class="section-description about-info-description">
                    Hi, I’m Benito. I’m passionate about mathematics, programming, and challenging problems, especially
                    olympiad-style ones. My background is in mathematics and data science, and I’m currently pursuing a
                    PhD at Université libre de Bruxelles, where I work in quantitative finance—ranging from S&P 500
                    portfolio models to risk and pension decumulation strategies.
                </p>
                <p class="section-description about-info-description">
                    Beyond research, I truly enjoy teaching and sharing what I’ve learned through courses in
                    programming, data science, and machine learning. I also develop custom software solutions in Python,
                    from process automation and data analysis to interactive dashboards and AI tools tailored to each
                    client’s needs. I’m driven by teamwork, building projects with real-world impact, and learning
                    something new in every collaboration
                </p>
            </div>
            <div class="about-image">
                <img src="../img/yo_parado_latvia.jpg" alt="About Image">
            </div>
        </section>

        <section class="section-subtitle about-subtitle">
            <h1>Technical Skills</h1>
            <p class="section-abstract">Core competencies in data science, machine learning, and software developmen.
            </p>
        </section>
        <section class="skills">
            <div class="skill wow animate__animated animate__fadeIn" data-wow-delay="0.2s">
                <i class="fas fa-code"></i>
                <h3>Programming & Data Analysis </h3>
                <ul>
                    <li>Python</li>
                    <li>Pandas</li>
                    <li>SQL</li>
                    <li>Matplotlib</li>
                    <li>R</li>
                    <li>Scikit-learn</li>
                    <li>Yfinance</li>
                </ul>
                <div class="image-container">
                    <div class="image-wrapper">&nbsp;</div>
                    <img src="../img/skill1.jpg" alt="Programming Languages" class="skill-img">
                </div>
            </div>
            <div class="skill wow animate__animated animate__fadeIn" data-wow-delay="0.5s">
                <i class="fas fa-laptop-code"></i>
                <h3>Machine Learning & Deep Learning</h3>
                <ul>
                    <li>TensorFlow</li>
                    <li>PyTorch</li>
                </ul>
                <div class="image-container">
                    <div class="image-wrapper">&nbsp;</div>
                    <img src="../img/skill2.jpg" alt="Programming Languages" class="skill-img">
                </div>
            </div>
            <div class="skill wow animate__animated animate__fadeIn" data-wow-delay="0.8s">
                <i class="fas fa-database"></i>
                <h3>Cloud, Version Control & APIs</h3>
                <ul>
                    <li>Google Cloud</li>
                    <li>Git</li>
                    <li>OpenAI APIs</li>
                </ul>
                <div class="image-container">
                    <div class="image-wrapper">&nbsp;</div>
                    <img src="../img/skill3.jpg" alt="Programming Languages" class="skill-img">
                </div>
            </div>
        </section>
    </main>
    <script src="../assets/js/wow.min.js"></script>
    <script>
        new WOW({
            duration: 1.5,
            delay: 0.1,
            offset: 50,
            easing: 'ease-in-out'
        }).init();
    </script>
    <script src="../js/common.js"></script>
    <script src="../js/transition.js"></script>
</body>

</html>
