<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link rel="stylesheet" href="../styles/style.css">
    <link rel="stylesheet" href="../styles/navigation.css">
    <link rel="stylesheet" href="../styles/courses.css">
    <script src="../libs/wow.js/dist/wow.min.js"></script>
    <script src="../js/dark.js" defer></script>
    <title>Courses</title>
</head>

<body>
    <header>
        <nav>
            <div class="logo">
                <span class="logo-text">Stay curious</span>
            </div>
            <ul class="nav-links active">
                <li>
                    <i class="fas fa-house disable-icons"></i>
                    <a href="../index.html">Home</a></li>
                <li>
                    <i class="fas fa-user disable-icons"></i>
                    <a href="about.html">About</a></li>
                <li>
                    <i class="fas fa-road disable-icons"></i>
                    <a href="trajectory.html">Trajectory</a></li>
                <li>
                    <i class="fas fa-graduation-cap disable-icons"></i>
                    <a href="courses.html" class="active">Courses</a></li>
                <li>
                    <i class="fas fa-briefcase disable-icons"></i>
                    <a href="projects.html">Projects</a></li>
            </ul>
            <div class="menu-icon" id="menu-icon">
                <i class="fas fa-bars"></i>
            </div>
            <i class="fa-regular fa-moon icons dark-mode-toggle"></i>
        </nav>
    </header>
    <main>
        <section class="section-title course-title">
            <h1>Courses</h1>
            <p class="section-abstract">Discover the courses made for you</p>
        </section>
        <section class="courses" id="courses-container">
            <!-- This is a example of a course item, these will be generated dynamically in courses.js -->
            <div class="course">
                <img src="../img/404.jpeg" alt="Course 1">
                <div class="course-level">
                    <span class="level">Beginner</span>
                    <span class="number-classes">3 classes</span>
                </div>
                <h2>Python for Data Science</h2>
                <p>Master Python fundamentals and data analysis with Pandas, NumPy, and Matplotlib.</p>
                <a href="course.html" class="course-link">View Course</a>
            </div>
        </section>
    </main>
    <script src="../js/courses.js"></script>
    <script src="../js/common.js"></script>
</body>

</html>
